html,body{
    height: 100%;
    width: 100%;

}
.buttion{
    padding: 23px;
    background-color: rgb(47, 44, 44);
    color: rgb(238, 235, 235);
    margin: 0 3px;
    border-radius: 30px;
    font-size: large;
 
    cursor: pointer;
}
.row{
    margin: 20px 20px;
}
.screen input{

    margin: 0px;
    padding: 10px 0px;
    background: rgb(0, 0, 0);
    border: 2px solid black;
    color: rgb(245, 235, 235);
    border-radius: 5px;
    margin: 10px;
    font-size: 25px;
    width: 271px;
    height: 38px;
 
}